@font-face
{
    font-family:Stale;
    src:url(Stalemate-Regular.ttf);
    font-stretch:ultra-expanded;
    font-weight:bold;
}

@font-face
{
    font-family:lab;
    src:url('Lobster 1.4.otf');
}

@font-face
{
    font-family:brad;
    src:url('BRADHITC.ttf');
}

@font-face
{
    font-family:batang;
    src:url('batang.ttf');
}

@font-face
{
    font-family:peas;
    src:url('Peas & Carrots.ttf');
}

@font-face
{
    font-family:snick;
    src:url('Snickles.ttf');
}

@font-face
{
    font-family:vol;
    src:url('Volstead.ttf');
}

@font-face
{
    font-family:neutron;
    src:url('NeutonCursive-Regular.ttf');
}

@font-face
{
    font-family:sca;
    src:url('scalpel.ttf');
}

@font-face
{
    font-family:lav;
    src:url('Lavanderia Regular.otf');
}




